<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<title>Already Exists User with this Username</title>
	</head>
	
	<body>
		<h1>Already Exists User with this Username!</h1>
		<br/>
		<div class="container signin">
			<p><a th:href="@{/registration}">Try again</a>.</p>
		</div>
		<div class="container signin">
			<p>Already have an account? <a th:href="@{/login}">Sign in</a>.</p>
		</div>
		<div class="container signin">
			<p><a th:href="@{/}">Home</a></p>
		</div>
	</body>
</html>