<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<title>History</title>
	</head>
	<body>
		<h1>History</h1>
		<table>
			<tr>
				<td>
					<table>
						<thead>
							<tr>
								<td><center>TimeStamps</center></td>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="timestamp : ${timestamplist}">
								<tr>
									<td th:text="${timestamp}">TimeStamp</td>
								</tr>
							</th:block>
						</tbody>
					</table>
				</td>
				<td>
					<table>
						<thead>
							<tr>
								<tb><center>Actions</center></tb>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="action : ${actionlist}">
								<tr>
									<td th:text="${action}">Action</td>
								</tr>
							</th:block>
						</tbody>
					</table>
				</td>
			</tr>
		</table>

		<div class="container signin">
			<p><a th:href="@{/}">Home</a></p>
		</div>

		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" />
		</form>
	</body>
</html>