<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
	<title>Home Page</title>
	</head>
	<body>
		<h1>Home Page!</h1>
		<p>
			<a style="color: blue" th:href="@{/history}">History</a>
		</p>
		<p>	
			<a style="color: blue" th:href="@{/search}">Search</a>
		</p>
		<p>	
			<a style="color: blue" th:href="@{/question1}">Query 1</a>
		</p>
		<p>	
			<a style="color: blue" th:href="@{/question2}">Query 2</a>
		</p>
		<p>	
			<a style="color: blue" th:href="@{/question3}">Query 3</a>
		</p>
		<p>	
			<a style="color: blue" th:href="@{/insertLog}">Insert Log</a>
		</p>

		<br/>

		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" />
		</form>
		
	</body>
</html>