<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<title>Home Page</title>
	</head>
	<body>
		<h1>Home Page!</h1>
	
		<p>
			<a style="color: blue" th:href="@{/login}">Log In</a>
		</p>
		<p>	
			<a style="color: blue" th:href="@{/registration}">Sign Up</a>
		</p>	
		
	</body>
</html>