<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<title>Insert Access Log</title>
	</head>

	<body>
		<h1>Insert Access Log</h1>

		<form action="#" th:action="@{/insertAccessLog}" method="post">
			<table style="width:35%">
				<tr>
					<td>IP address</td>
					<td><input type="text" th:value="${ip_address}" name="ip_address"/></td>
				</tr>
				<tr>
					<td>User Id (default '-')</td>
					<td><input type="text" th:value="${user_id}" name="user_id"/></td>
				</tr>
				<tr>
					<td>Timestamp (dd/MM/yyyy HH:mm:ss)(default current Timestamp)</td>
					<td><input type="text" th:value="${timestamp}" name="timestamp"/></td>
				</tr>
				<tr>
					<td>HTTP Method</td>
					<td><input type="text" th:value="${http_method}" name="http_method"/></td>
				</tr>
				<tr>
					<td>Resource Requested</td>
					<td><input type="text" th:value="${resource_requested}" name="resource_requested"/></td>
				</tr>
				<tr>
					<td>HTTP Response Status</td>
					<td><input type="text" th:value="${http_response_status}" name="http_response_status"/></td>
				</tr>
				<tr>
					<td>Response Size (Optional)</td>
					<td><input type="text" th:value="${response_size}" name="response_size"/></td>
				</tr>
				<tr>
					<td>Referer</td>
					<td><input type="text" th:value="${referer}" name="referer"/></td>
				</tr>
				<tr>
					<td>User Agent String</td>
					<td><input type="text" th:value="${user_agent}" name="user_agent"/></td>
				</tr>
	
			</table>

			<p>
				<input type="submit" value="Submit"/> <input type="reset" value="Reset"/>
			</p>
		</form>

		<div class="container signin">
			<p><a th:href="@{/}">Home</a></p>
		</div>
	
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" />
		</form>

	</body>
</html>