<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<title>Insert FS_Name Log</title>
	</head>
	
	<body>
		<h1>Insert FS_Name Log</h1>
	
		<form action="#" th:action="@{/insertFS_NameLog}" method="post">
			<table style="width:35%">
				<tr>
					<td>Source IP</td>
					<td><input type="text" th:value="${source_ip}" name="source_ip"/></td>
				</tr>
				<tr>
					<td>Timestamp (dd/MM/yyyy HH:mm:ss)(default current Timestamp)</td>
					<td><input type="text" th:value="${timestamp}" name="timestamp"/></td>
				</tr>
				<tr>
					<td>Block ID(s) (split with comma)</td>
					<td><input type="text" th:value="${block_id}" name="block_id"/></td>
				</tr>
				<tr>
					<td>Destination IP(s) (split with comma)</td>
					<td><input type="text" th:value="${destination_ip}" name="destination_ip"/></td>
				</tr>
				<tr>
					<td>Type</td>
					<td><input type="text" th:value="${type}" name="type"/></td>
				</tr>
			</table>
	
			<p>
				<input type="submit" value="Submit"/> <input type="reset" value="Reset"/>
			</p>

		</form>

		<div class="container signin">
			<p><a th:href="@{/}">Home</a></p>
		</div>
	
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" />
		</form>

	</body>
</html>