<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<title>Problem with Insertion</title>
	</head>
	<body>
		<h1>Something go wrong with the insertion. Check your inputs.</h1>

		<div class="container signin">
			<p><a th:href="@{/}">Home</a></p>
		</div>
	
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" />
		</form>
	</body>
</html>