<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<title>Question 3</title>
	</head>
	<body>
		<h1>Find the most common log per source IP for a specific day.</h1>

		<form action="#" th:action="@{/question3}" method="post">
			<table style="width:30%">
				<tr>
					<td>Date:</td>
					<td><input type="text" th:value="${timestamp}" name="timestamp"/></td>
				</tr>
			</table>

			<p>
				<input type="submit" value="Submit"/> <input type="reset" value="Reset"/>
			</p>
		</form>

		<div class="container signin">
			<p><a th:href="@{/}">Home</a></p>
		</div>
	
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" />
		</form>
	</body>
</html>