<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<title>Question 1 Results</title>
	</head>
	<body>
		<h1>Question 1 Results for time range: <td th:text="${from_day}"> </td>-<td th:text="${until_day}"> </td></h1>

		<table>
			<tr>
				<td>
					<table>
						<thead>
							<tr>
								<td>Types</td>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="type : ${types}">
								<tr>
									<td th:text="${type}">Type</td>
								</tr>
							</th:block>
						</tbody>
					</table>
				</td>
				<td>
					<table>
						<thead>
							<tr>
								<tb><center>Total Logs</center></tb>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="total_log : ${total_logs}">
								<tr>
									<td th:text="${total_log}">Total Logs</td>
								</tr>
							</th:block>
						</tbody>
					</table>
				</td>
			</tr>
		</table>


		<div class="container signin">
			<p><a th:href="@{/}">Home</a></p>
		</div>
	
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" />
		</form>
	</body>
</html>