<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<title>Question 3 Results</title>
	</head>
	<body>

		<h1>Question 3 Results for <td th:text="${timestamp}"> </td></h1>

		<table>
			<tr>
				<td>
					<table>
						<thead>
							<tr>
								<td>Ip Addresses</td>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="ipaddress : ${ipaddresses}">
								<tr>
									<td th:text="${ipaddress}">Ip Addresses</td>
								</tr>
							</th:block>
						</tbody>
					</table>
				</td>
				<td>
					<table>
						<thead>
							<tr>
								<tb><center>Most Common Logs</center></tb>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="most_common_log : ${most_common_logs}">
								<tr>
									<td th:text="${most_common_log}">Most Common Logs</td>
								</tr>
							</th:block>
						</tbody>
					</table>
				</td>
			</tr>
		</table>


		<div class="container signin">
			<p><a th:href="@{/}">Home</a></p>
		</div>
	
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" />
		</form>
	</body>
</html>