<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<title>Search Results</title>
	</head>
		<body>
		<h1>Results for Logs with <td th:text="${type}"> </td>: <td th:text="${ip_address}"> </td></h1>

		<table>
			<tr>
				<td>
					<table>
						<tbody>
							<th:block th:each="result : ${results}">
								<tr>
									<td th:text="${result}">results</td>
								</tr>
							</th:block>
						</tbody>
					</table>
				</td>
			</tr>
		</table>

		<div class="container signin">
			<p><a th:href="@{/}">Home</a></p>
		</div>
	
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" />
		</form>
	</body>
</html>